NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_SECRET_API_KEY=
NEXT_PUBLIC_BACKEND_BASE_URL=
NEXT_PUBLIC_IS_TESTNET=false
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_CAMPAIGN_MANAGER_ADDRESS=
NEXT_PUBLIC_REPUTATION_ADDRESS=
NEXT_PUBLIC_DATA_HIVE_TOKEN_ADDRESS=
NEXT_PUBLIC_CONTRIBUTION_MANAGER_ADDRESS=
NEXT_PUBLIC_STORAGE_SERVER_ENDPOINT=''